* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-around;
    }

    .name {
        justify-self: flex-start;
    }
}

.page {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
}

.header-item {
    padding: 1rem;
}

.logo {
    position: relative;
    /* font-weight: bold; */
}

.logo:after {
    font-weight: normal;
    content: "";
    background: black;
    position: absolute;
    right: 0; /* Align to the right edge */
    top: 25%; /* Center vertically (start at 25%) */
    height: 50%; /* Cover 50% of the height */
    width: 0.05rem; /* Border thickness */
}

.date {
    padding-left: 0;
}

.content {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5vh 5vw;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    /* padding-top: 10%; */
}

.board {
    z-index: 0;
    flex: 0 0 auto;
    display: grid;
    grid-template-rows: repeat(8,4rem);
    grid-template-columns: 16rem 4rem;
    grid-auto-flow: column;
    overflow: hidden;
    gap: 0.1rem;
    border-radius: 10px;
}

.info {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 2;
    background-color: white;
    color: black;
    max-width: 40rem;
    width: 90%;
    max-height: 90%;
    height: 25rem;
    align-self: center;
    left: 50%;
    top: 50%;
    transform: translate(0,0) scale(0);
    transform-origin: left bottom;
    border: solid 1px black;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in;
}

.info-open {
    /* display: flex; */
    opacity: 100%;
    transform: translate(-50%,-50%) scale(1);
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.info-content {
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    overflow-y: auto;
}

.tile {
    background-color: gray;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.guessed {
    cursor: pointer;
}

.pick {
    --bg-color: gray;
    box-sizing: border-box;
    background: radial-gradient(circle, var(--bg-color), #666666);
    border-radius: 100%;
    border: 4px solid rgb(102, 102, 102);
    width: calc(65%/4);
    height: 65%;
}

.picked {
    --bg-color: gray;
    background: radial-gradient(circle at 30% 30%, 
    color-mix(in srgb, var(--bg-color), white 30%),
    var(--bg-color) 40%,
    color-mix(in srgb, var(--bg-color), black 40%) 70%,
    color-mix(in srgb, var(--bg-color), black 80%) 100%
    );
    border-radius: 100%;
    border: 2px solid dimgray;
    width: calc(65%/4);
    height: 65%;
    animation: pin 300ms ease-in-out;
}

.picker {
    cursor: pointer;
}

.answer {
    padding: 5px;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.answer-hole {
    --bg-color: gray;
    background: radial-gradient(circle, var(--bg-color), #666666);
    border-radius: 100%;
    border: 2px solid rgb(102, 102, 102);
}

.answer-pin {
    --bg-color: silver;
    background: radial-gradient(circle at 30% 30%, 
    color-mix(in srgb, var(--bg-color), white 30%),
    var(--bg-color) 40%,
    color-mix(in srgb, var(--bg-color), black 40%) 70%,
    color-mix(in srgb, var(--bg-color), black 80%) 100%
    );
    border: none;
    animation: pin 300ms ease-in-out;
}

@keyframes pin {
    0% {
        /* opacity: 0; */
        transform: scale(1.1);
    }
    100% {
        /* opacity: 1; */
        transform: scale(1);
    }
}

#confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirm {
    background-color: green;
    border: 4px solid darkgreen;
    cursor: pointer;
    width: 80%;
    height: 80%;
    border-radius: 30%;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
    gap: 10px;
}

.tip {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: none;
    flex: 0 0 30px;
    border-radius: 25%;
    /* fill: black; */
}

.tip svg {
    border-radius: inherit;
    height: inherit;
    width: inherit;
}

.footer {
    text-align: center;
    padding: 0.5rem;
}
